.panel {
    display: flex;
    height: 100%;
    flex-direction: column;
    user-select: none;
}

.panel > * {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.header {
    margin-top: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 1em;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em;
}

.actionButton {
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 100%;
    padding: 0.4em 1em;
    font-weight: 700;
    background: #c2e25d;
    color: #292f1b;
}

.actionButton[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}
