.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.waypoint {
    font-weight: 700;
    padding: 0.6em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 100%;
}

.reordering {
    cursor: grabbing;
}

.reordering .waypoint:not(.dragged).insertBefore {
    border-top: 1px solid #c2e25d;
}

.reordering .waypoint:not(.dragged).insertAfter {
    border-bottom: 1px solid #c2e25d;
}

.waypoint.dragged {
    position: absolute;
    margin-top: -1.5em;
    pointer-events: none;
    width: auto;
    padding-right: 1em;
}

.waypoint.dragged .deleteButton {
    display: none;
}

.waypoint.dragged .dragIcon {
    display: none;
}

.dragIcon {
    width: 1.5em;
    margin-right: 0.4em;
    visibility: hidden;
}

.dragIcon:not([disabled]) {
    cursor: grab;
}

.dragIcon [stroke] {
    stroke: #747474;
}

.showDragHandle .dragIcon {
    visibility: visible;
}

.deleteButton {
    visibility: hidden;
    border: none;
    background: transparent;
    padding: 0.4em;
    width: 2.4em;
    height: 2.4em;
    margin-right: 1em;
}

.showDeleteButton .deleteButton {
    visibility: visible;
}

.binIcon [fill] {
    fill: #747474;
}

.dragIcon:not([disabled]):hover [stroke] {
    stroke: #dedede;
}

.deleteButton:not([disabled]) {
    cursor: pointer;
}

.deleteButton:not([disabled]):hover .binIcon [fill] {
    fill: #dedede;
}

.deleteButton:focus {
    outline: none;
    box-shadow: 0 0 2px 4px #0066ff;
    border-radius: 50%;
}

.deleteButton:focus .binIcon [fill] {
    fill: #dedede;
}
