.app {
    height: 100vh;
}

.leftPanel {
    position: absolute;
    background: #383838;
    color: #dedede;
    height: 100%;
}

.mapContent {
    height: 100%;
}

@media(min-width: 468px) {
    .leftPanel {
        width: 200px;
    }

    .mapContent {
        margin-left: 200px;
        width: calc(100vw - 200px);
    }
}

@media(min-width: 768px) {
    .leftPanel {
        width: 250px;
    }

    .mapContent {
        margin-left: 250px;
        width: calc(100vw - 250px);
    }
}

@media(min-width: 1024px) {
    .leftPanel {
        width: 360px;
    }

    .mapContent {
        margin-left: 360px;
        width: calc(100vw - 360px);
    }
}
