.marker {
    cursor: grab;
    user-select: none;
}

.marker > text {
    fill: #fafafa;
    font-weight: 700;
    font-size: 1.1em;
    text-anchor: middle;
    dominant-baseline: middle;
}

.marker > circle {
    fill: #383838;
    stroke: #fafafa;
    stroke-width: 3;
}

.marker:focus {
    outline: none;
}

.marker:focus > circle {
    fill: #c2e25d;
}

.marker.moving {
    cursor: grabbing;
}

.marker.moving > circle {
    fill: #dde25d;
}

.marker.moving > text {
    fill: black;
}

.marker.moving:focus > circle {
    fill: #dde25d;
}

.marker:focus > text {
    fill: black;
}
