.planningMap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.planningMap:focus {
    box-shadow: inset 0 0 0 3px black;
}

.mapSource {
    height: 100%;
    overflow: hidden;
    position: absolute;
    user-select: none;
}

.mapOverlay {
    height: 100%;
    position: absolute;
    width: 100%;
}
